- user_vm ||= UserVm.new

.modal#login{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Login
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_for user_vm, url: users_sessions_path do |f|
          = render "users/form_fields", f: f, action_type: "new_session"
          %button.btn.btn-primary{:type => "submit"} Login
          %a{"data-toggle": "modal", "data-target": "#forgot_password", onclick: "$(this).parents('.modal').modal('hide');"}= "Forgot password?"
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close


.modal#forgot_password{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Forgot password
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_for user_vm, url: users_reset_password_path do |f|
          %label Email
          = f.text_field :email, {"aria-describedby" => "emailHelp", :placeholder => "Enter email", :type => "email", :class => "form-control"}
          %br
          %button.btn.btn-primary{:type => "submit"} Send me reset password instructions
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close