.container.text-center
  %h1
    = "Welcome to Showoff tech API test"
  .row
    .col
      %h1
        %button.btn.btn-primary.btn-block{"data-toggle": "modal", "data-target": "#login"}= "Login"
    .col
      %h1
        %button.btn.btn-primary.btn-block{"data-toggle": "modal", "data-target": "#signup"}= "Sign up"
= render "users/sessions/login_modal"
= render "users/new_modal"