.modal#change_password{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Change password
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_for user_vm, url: users_change_password_path, remote: true do |f|
          = render "users/form_fields", f: f, action_type: "change_password"
          %button.btn.btn-primary{:type => "submit"} Update
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
