.modal#edit_user{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Edit user
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_for current_user, url: user_path(current_user.try(:id)), method: :patch do |f|
          = render "users/form_fields", f: f, action_type: "edit_user"
          %button.btn.btn-primary{:type => "submit"} Update
          %a{"data-toggle": "modal", "data-target": "#change_password", onclick: "$(this).parents('.modal').modal('hide');"}= "Change password"
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close

= render "users/change_password_modal", user_vm: current_user