- action_type ||= nil

- case action_type
- when "new_session"
  .form-group
    %label Email
    = f.text_field :email, {"aria-describedby" => "emailHelp", :placeholder => "Enter email", :type => "email", :class => "form-control"}
  .form-group
    %label Password
    = f.password_field :password, {"aria-describedby" => "passwordHelp", :placeholder => "Enter Password", :class => "form-control"}

- when "new_user"
  .form-group
    %label Email
    = f.text_field :email, {"aria-describedby" => "emailHelp", :placeholder => "Enter email", :type => "email", :class => "form-control"}
  .form-group
    %label Password
    = f.password_field :password, {"aria-describedby" => "passwordHelp", :placeholder => "Enter Password", :class => "form-control"}
  .form-group
    %label Password confirmation
    = f.password_field :password_confirmation, {"aria-describedby" => "passwordConfirmationHelp", :placeholder => "Enter Password confirmation", :class => "form-control"}
  .form-group
    %label First name
    = f.text_field :first_name, {"aria-describedby" => "firstName", :placeholder => "Enter Firstname", :class => "form-control"}
  .form-group
    %label Last name
    = f.text_field :last_name, {"aria-describedby" => "lastName", :placeholder => "Enter Lastname", :class => "form-control"}
  .form-group
    %label Image URL
    = f.text_field :image_url, {"aria-describedby" => "imageUrl", :placeholder => "Enter Image Url", :class => "form-control"}
  .form-group
    %label Date of birth
    = f.text_field :date_of_birth, class: :flatpickr

- when "edit_user"
  .form-group.text-center
    %img.img-fluid{src: current_user.images["small_url"] }
  .form-group
    %label Email
    = f.text_field :email, {"aria-describedby" => "emailHelp", :placeholder => "Enter email", :type => "email", :class => "form-control"}
  .form-group
    %label First name
    = f.text_field :first_name, {"aria-describedby" => "firstName", :placeholder => "Enter Firstname", :class => "form-control"}
  .form-group
    %label Last name
    = f.text_field :last_name, {"aria-describedby" => "lastName", :placeholder => "Enter Lastname", :class => "form-control"}
  .form-group
    %label Date of birth
    = f.text_field :date_of_birth, class: :flatpickr
  .form-group
    %label Image URL
    = f.text_field :image_url, {"aria-describedby" => "imageUrl", :placeholder => "Enter Image Url", :class => "form-control"}

- when "change_password"
  .form-group.text-center
    %img.img-fluid{src: current_user.images["small_url"] }
  .form-group
    %label Old Password
    = f.password_field :old_password, {"aria-describedby" => "oldPasswordHelp", :placeholder => "Enter Old Password", :class => "form-control"}
  .form-group
    %label New Password
    = f.password_field :password, {"aria-describedby" => "newPasswordHelp", :placeholder => "Enter New Password", :class => "form-control"}
  .form-group
    %label New Password confirmation
    = f.password_field :password_confirmation, {"aria-describedby" => "newPasswordConfirmationHelp", :placeholder => "Enter New Password confirmation", :class => "form-control"}