- user_vm ||= UserVm.new

.modal#signup{:role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title Sign up
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_for user_vm, url: users_path do |f|
          = render "users/form_fields", f: f, action_type: "new_user"
          %button.btn.btn-primary{:type => "submit"} Sign up
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
