.container
  .text-center
    %h3 Enter user email to check
    = form_for @user_vm, url: users_check_email_path, method: :get do |f|
      .field
        = f.label :email
        = f.text_field :email
      = f.submit :check, class: "btn btn-primary"