.container
  .text-center
    .field
      %img{src: @user_vm.try(:images).try(:[], "large_url")}
    %br
    .field
      %label First name:
      = @user_vm.first_name
    .field
      %label Last name:
      = @user_vm.last_name
    .field
      %label Date of birth:
      %span.flatpickr= @user_vm.date_of_birth
    = link_to "Show Widgets", user_widgets_path(@user_vm.id)
