- show_widget_actions ||= false

.widget
  .text-center
    %h4
      = widget_vm.name
  .description
    %span= "Description: "
    %span= widget_vm.description
  .kind
    %span= "Visibility: "
    %span= widget_vm.kind
  .user
    - user = widget_vm.user
    %span= "Owner: "
    = link_to user.try(:[], "name"), user_path(user.try(:[], "id"))
  - if show_widget_actions.present?
    .row
      .col-12
        .actions.float-right
          %button.btn.btn-primary{onclick: "widgetEditModal(#{widget_vm.to_json})"} Edit
          = link_to "Delete", widget_path(widget_vm.id), method: :delete, remote: true,  data: { confirm: "Are you sure you want to destroy #{widget_vm.name} widget? " }, class: "btn btn-warning"
