- user_widgets_flag = ["me", current_user.id.to_s].include? params[:user_id].to_s

.container
  .text-center
    %br
    %h2= "Total widgets: #{@all_widgets.count} widgets"
    .term
      = form_tag user_widgets_path(@user_id), method: :get do |f|
        = text_field_tag :term, params[:term]
        = submit_tag "Search widget", class: "btn btn-primary"
        - if user_widgets_flag.present?
          %a{:href => new_widget_path, class: "btn btn-primary"} + Widget
  %br
  .row
    - @all_widgets.each do |widget_vm|
      .col-12-.col-sm-6
        = render "shared/widget_card", widget_vm: widget_vm, show_widget_actions: user_widgets_flag.present?

= render "widgets/edit_mustache_modal"

