#mustache_form
  = form_for WidgetVm.new, url: "" do |f|
    = hidden_field_tag :_method, :patch
    = hidden_field_tag :authenticity_token, form_authenticity_token

    .field
      = f.label :name
      = f.text_field :name, value: "{{widget_name}}"
    .field
      = f.label :description
      = f.text_field :description, value: "{{widget_description}}"
    .field
      = f.label :visibility
      = f.select :kind, WidgetVm::KINDS
    = f.submit :update, class: "btn btn-primary"
