.container
  .text-center
    %br
    %h2= "Total widgets: #{@all_widgets.count} widgets"
  .row
    - @all_widgets.each do |widget_vm|
      .col-12-.col-sm-6
        = render "shared/widget_card", widget_vm: widget_vm, show_widget_actions: true

= render "widgets/edit_mustache_modal"