.container
  .text-center
    %h1 Add New widget
    = form_for @widget_vm, url: widgets_path, remote: true do |f|
      .field
        = f.label :name
        = f.text_field :name
      .field
        = f.label :description
        = f.text_field :description
      .field
        = f.label :visibility
        = f.select :kind, WidgetVm::KINDS
      = f.submit :create, class: "btn btn-primary"
