.container
  .text-center
    %br
    %h2= "Total visible widgets: #{@all_widgets.count} widgets"
    .term
      = form_tag widgets_visible_path, method: :get do |f|
        = text_field_tag :term, params[:term]
        = submit_tag "Search widget", class: "btn btn-primary"
  %br
  .row
    - @all_widgets.each do |widget_vm|
      .col-12-.col-sm-6
        = render "shared/widget_card", widget_vm: widget_vm
