$(document).on('turbolinks:load', function() {
  $("form").submit(function(){
    loading_spinner_html = '<div class="spinner-border text-primary" role="status"><span class="sr-only">Loading</span></div>'
    $(this).find("button, input[type='submit']").attr("disabled", "disabled")

    if (!$(this).find(".spinner-border").length){
      // make sure to append once.
      $(this).append(loading_spinner_html)
    }
  })
})
