@import "bootstrap_overrides";
@import "bootstrap";
@import "navbar";
@import "users/sessions";
@import "users";
@import "widgets";
@import "shared";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  body {
    font-family: 'Luckiest Guy', serif;
    height: 100vh;
    background-color: black;
    color: white;

    form {
      input[type='submit'], a {
        margin-top: 1vh;
      }

      input[type="text"], input[type="email"], input[type="password"], select {
        @extend .form-control;
        width: initial;
        display: inline-block;
      }
    }

    .modal {
      color: black;

      form {
        input[type="text"], input[type="email"], input[type="password"], select {
          @extend .form-control;
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  body {
    form input[type='submit'], form a {
      margin-top: 1vh;
    }
  }
}
