// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users_check_email, #users_show {
  .container {
    margin-top: 10vh;

    img {
      width: 200px;
      height: 200px;
    }

    input {
      margin-bottom: 2vh;
    }
  }
}
