// Place all the styles related to the widgets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#widgets_new {
  .container {
    margin-top: 10vh;

    .field {
      margin-bottom: 2vh;

      label, input, select {
        width: 200px;
      }
    }
  }
}

#mustache_form form {
  .field {
    margin-bottom: 2vh;
  }
}
