// Place all the styles related to the users/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sessions_new {
  background-image: asset_url("show_off_background");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .container {
    margin-top: 15vh;

    h1 {
      color: white;
    }

    .row {
      margin-top: 20vh;
    }
  }
}