!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    %title ShowOffTechTest
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://cdn.jsdelivr.net/npm/flatpickr"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js"}


    %link{:href => "https://fonts.googleapis.com/css?family=Luckiest Guy", :rel => "stylesheet"}
    %link{:href => "https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css", :rel => "stylesheet"}

  %body(id="#{controller_name}_#{action_name}")
    = render "shared/navbar"
    %div.container-fluid
      - flash.each do |key, value|
        .flash(class="alert alert-#{key}")= value
      = yield
